@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* manejo de las características de la etiqueta body*/

*{
  margin: 0px;
  font-family: 'Roboto';
  font-style: normal;
}
body {
  background: #FEFEFD;
  padding: opx;
}

header {
  color: #FFF;
}
header h1{
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: 60px;
}

.top_menu{
  margin-top: 20px;
}

.top_menu ul{
  display: flex;
  font-size: 20px;
  margin-left: 60px;
  margin-bottom: 10px;
}

.top_menu ul li{
  margin-right: 30px;
}

.top_menu ul li a{
  text-decoration: none;
  color: black;
}


header hr{
  width: 90%;
  margin: 0 auto;
}

.contenido{
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.botonAgregar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonAgregar button{
  background-color: #D2222D;
  border-radius: 20px;
  padding: 1em 1em;
  border: none;  
}

.botonAgregar button a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.cuadroCasos{
  margin: 1em auto;
  border-radius: 20px;
  border: solid black;
  border-width: 2px;
  padding: 1em 1em;
  width: 70%;
}

.my-form {
  padding: 20px;
  width: 100%;
}

.my-form div{
  display: flex;
}

.my-form label {
  display: block;
  margin-bottom: 5px;
}

.my-form input,
.my-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}



.my-form .paciente .input-paciente{
  width: 80%  ;
}


.contenidoRegis {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.paciente {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 6em;
}



.paciente a.add-paciente-btn {
  margin-left: 10px;
  font-size: 1.5em;
  text-decoration: none;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 20em;
}

.form-group2 {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 20em;
}

.form-group2 .input-group{
  width: 68%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}
.input-group {
  width: 68%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.input-group input {
  flex: 1;
  margin-right: 5px;
}

.unit {
  margin-right: 10px;
}

.status-indicator {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  display: inline-block;
}

.status-indicator.green {
  background-color: green;
}

.status-indicator.yellow {
  background-color: yellow;
}

.status-indicator.red {
  background-color: red;
}

.submit-btn {
  display: block;
  width: 20%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0 auto;
}

.warnings {
  margin-top: 20px;
}

.warnings p {
  display: flex;
  align-items: center;
}

.warning-icon {
  margin-right: 10px;
}

.contenidoRegis h2{
  font-size: 40px;
  font-weight: 400;
}

hola{
  font-size: 20px;
}

.warnings{
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.warnings p{
  font-size: 40px;
  
}

.contenidoPaciente{
  width: 70%;
  margin: 0 auto;
}

.contenidoPaciente h2{
  text-align: center;
  margin: 1em 0;
}


/*Registro Fisico*/
.btonfisico {
  display: block;
  width: 20%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0 auto;
}

.conte_fisico{
  width: 80%;
  margin: 0 auto;
}
.body-map-container {
  position: relative;
  width: 500px; /* Ajusta el ancho según tu necesidad */
  margin: 0 auto;
}
.body-map {
  display: block;
  width: 100%;
  height: auto;
}
.pain-area {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.3); /* Fondo rojo semitransparente */
}
.pain-area.head {
  top: 10px; /* Ajusta según tu imagen */
  left: 200px; /* Ajusta según tu imagen */
  width: 100px; /* Ajusta según tu imagen */
  height: 100px; /* Ajusta según tu imagen */
}
.pain-area.torso {
  top: 110px; /* Ajusta según tu imagen */
  left: 180px; /* Ajusta según tu imagen */
  width: 140px; /* Ajusta según tu imagen */
  height: 150px; /* Ajusta según tu imagen */
}
.pain-area.hip {
  top: 260px; /* Ajusta según tu imagen */
  left: 180px; /* Ajusta según tu imagen */
  width: 140px; /* Ajusta según tu imagen */
  height: 100px; /* Ajusta según tu imagen */
}
.pain-area.legs {
  top: 360px; /* Ajusta según tu imagen */
  left: 190px; /* Ajusta según tu imagen */
  width: 120px; /* Ajusta según tu imagen */
  height: 200px; /* Ajusta según tu imagen */
}
.pain-point {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: none;
}
.pain-info {
  margin-top: 10px;
  position: absolute;
  top: 40%;
}

.titulo_RegistroFisico{
  margin: 1em 0em;
}

.contenidoSeleccionado{
  position: absolute;
  top: 50%;
}


/*Listado de Pacientes*/

/* styles.css */

/* Efecto de brillo */
.icono-brillante {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
  transition: text-shadow 0.3s ease-in-out;
}

.icono-brillante.green {
  color: #63E6BE;
}

.icono-brillante.yellow {
  color: #FFD43B;
}

.icono-brillante.red {
  color: #e01b24;
}

.icono-brillante:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
}

.contenido h2{
  margin: 1em 0;
  text-align: center;
}

/* ----------------------------------------------------------------- */
/* HOMEPAGE */
/* ----------------------------------------------------------------- */

.box h2 {
  font-family: Roboto;
font-weight: 500;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3{
  width: 90%;
  display: flex;
}

.botonAprendeMas {
width: 350px;
padding: 1em 3.5em;
border-radius: 100px;
border: 3px solid #6c1515;
color: white;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
transition: ease-in-out .3s;
font-weight: 500;
  background-color: #b20303;
  
}

.botonAprendeMas:hover {
transform: scale(1.2);
transition: ease-in-out .3s;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 3px solid black;
  font-family: Roboto;
}

th {
  background-color: #f2f2f2;
}

.status-cell {
  display: flex;
  align-items: center;
}

.status-icon {
  margin-left: 0.5em;
  font-size: 1.2em;
}

.buttonWhite button{
  background-color: white;
  color: black;
}
