{% extends "master.html" %}

{% block title %}
  Listado de Estudiantes
{% endblock %}

{% block content %}
<section class="contenido">
  <h2>Inicio</h2>
<div class="botonAgregar">
  <button>
    <a href="{% url 'registro' %}">Registrar Nuevos Casos</a>
  </button>
</div>
<h2>Nuevos Casos</h2>
<div class="cuadroCasos">
  <table>
    <thead>
      <tr>
        <th>Numero ID</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Estado</th>
      </tr>
    </thead>

    {% for r in registros|slice:"0:3" %}
    <tr>
      <td> {{r.id}} </td>
      <td> {{r.fecha_hora|date:"d M Y"}} </td>
      <td> {{r.fecha_hora|time:"H:i"}}</td>
      <td> Registrado</td>
    </tr>
    {% endfor %}
  </table>
</div>

<h2>Medicos</h2>
<div class="cuadroCasos">
  <table>
    <thead>
      <tr>
        <th>Numero ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tr>
      <td> 1 </td>
      <td> Juan Peralta</td>
      <td> Medico de Planta</td>
      <td> Disponible</td>
    </tr> 
    <tr>
      <td> 2 </td>
      <td> Marcos Andrade</td>
      <td> Medico de Planta</td>
      <td> Disponible</td>
    </tr> 
  </table>
</div>


<h2>Medicos Especializados </h2>


<!-- Personal Médico -->

<div class="cuadroCasos">
<!-- TABLA -->

<br>
<section class="box">
        <table>
            <thead>
                <tr>
                    <th>Personal Médico</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dr. Juan Perez</td>
                    <td>Médico General</td>
                </tr>
                <tr>
                    <td>Dra. Ana Lopez</td>
                    <td>Cardióloga</td>
                </tr>
                <tr>
                    <td>Enf. María Rodríguez</td>
                    <td>Enfermera</td>
                </tr>
            </tbody>
        </table>
</section>

</div>

<br>
<br>

</section>
{% endblock %}