{% extends "master.html" %}

{% block title %}
  Listado de Pacientes
{% endblock %}

{% block content %}
<section class="contenido">
  <h3>Número de Pacientes {{ numero_pacientes }}</h3>

<table id="tabla_datos">

  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Cedula</th>
      <th>Fecha de Nacimiento</th>
      <th>Genero</th>
      <th>Prioridad</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
  {% for paciente, prioridad in pacientes_con_prioridad %}
  <tr>
    <td>{{ paciente.nombre }}</td>
    <td>{{ paciente.apellido }}</td>
    <td>{{ paciente.cedula }}</td>
    <td>{{ paciente.fecha_nacimiento|date:"d M Y" }}</td>
    <td>{{ paciente.genero }}</td>
    <td>
      {% if prioridad == "Emergencia Inmediata" %}
        <i class="fa-solid fa-truck-medical" style="color: #e01b24; font-size: 24px;"></i>
      {% elif prioridad == "Urgente" %}
        <i class="fa-solid fa-truck-medical" style="color: #FFD43B; font-size: 24px;"></i>
      {% elif prioridad == "No Urgente" %}
        <i class="fa-solid fa-truck-medical" style="color: #63E6BE; font-size: 24px;"></i>
      {% else %}
        <i class="fa-solid fa-truck-medical" style="color: #C0C0C0; font-size: 24px;"></i> <!-- Color gris si no hay prioridad -->
      {% endif %}
    </td>
    <td>
      <a href="{% url 'registro' paciente.id %}">Registrar Signos Vitales</a>
      <a href="{% url 'registros_paciente' paciente.id %}">Ver Registros</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>

</table>

<script type="text/javascript">
  $(document).ready(function () {
    $('#tabla_datos').DataTable();
  });
</script>

</section>
{% endblock %}
