{% extends "master.html" %}

{% block title %}
  Registro Fisico
{% endblock %}

{% block content %}
<section class="conte_fisico">

    <h2 class="titulo_RegistroFisico">Registro de Dolor</h2>
    <form id="pain-form" method="post">
        {% csrf_token %}
        <div class="body-map-container">
            <img src="/static/images/body-chart.jpeg" alt="Body Map" class="body-map" style="height: 600px;">
            <div class="pain-area head"></div>
            <div class="pain-area torso"></div>
            <div class="pain-area hip"></div>
            <div class="pain-area legs"></div>
            <div class="pain-point" id="pain-point"></div>
        </div>
        <div class="pain-info">
            <label for="pain-type">Tipo de Dolor:</label><br>
            <input type="radio" name="pain_type" value="Pulsante"> Pulsante<br>
            <input type="radio" name="pain_type" value="Quemazón"> Quemazón<br>
            <input type="radio" name="pain_type" value="Eléctrico"> Eléctrico<br>
        </div>
            <input type="hidden" name="location_x" id="location-x">
            <input  type="hidden" name="location_y" id="location-y">
        <button class="btonfisico" type="submit">Registrar</button>
    </form>
    <div id="selected-pain" class="contenidoSeleccionado"></div>

    <script>
        const bodyMapContainer = document.querySelector('.body-map-container');
        const painPoint = document.getElementById('pain-point');
        const selectedPainDiv = document.getElementById('selected-pain');
        const locationXInput = document.getElementById('location-x');
        const locationYInput = document.getElementById('location-y');
        let selectedPainType = '';

        document.querySelectorAll('input[name="pain_type"]').forEach(radio => {
            radio.addEventListener('change', (event) => {
                selectedPainType = event.target.value;
            });
        });

        bodyMapContainer.addEventListener('click', (event) => {
            const rect = bodyMapContainer.getBoundingClientRect();
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;

            locationXInput.value = x;
            locationYInput.value = y;

            let area = '';
            if (y >= 10 && y <= 110 && x >= 200 && x <= 300) {
                area = 'Cabeza';
            } else if (y > 110 && y <= 260 && x >= 180 && x <= 320) {
                area = 'Torso';
            } else if (y > 260 && y <= 360 && x >= 180 && x <= 320) {
                area = 'Cadera';
            } else if (y > 360 && y <= 560 && x >= 190 && x <= 310) {
                area = 'Piernas';
            } else {
                area = 'Fuera del cuerpo';
            }

            setPainPoint(painPoint, x, y);
            selectedPainDiv.innerHTML = `${area}: ${selectedPainType}`;
        });

        function setPainPoint(element, x, y) {
            element.style.left = `${x - 10}px`;
            element.style.top = `${y - 10}px`;
            element.style.display = 'block';
        }
    </script>

</section>
{% endblock %}
